*{
    margin: 0;
    padding: 0;
    font-family: 'Antonio', sans-serif;
}

.main-back{
    background-image: url(../IMG/background.jpg);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-form{
    box-shadow: 1px 2px 6px 0px #000;
    margin: auto;
    width: 25%;
    padding: 40px 20px;
}

.container-form--filter{
-webkit-backdrop-filter:blur(15px);
backdrop-filter:blur(15px);
background-color: #641616ce;
}

.container-form__label{
    color: #ffffff;
    letter-spacing: 3px;
    margin-bottom: 0;
}

.container-form__logimg{
    background-color: #6b5a5a;
    padding: 10px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: -5em;
    margin-bottom: 2em;
}

.container-form__email, .container-form__password{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    color: #ffffff;
    letter-spacing: 2px;
    width: 100%;
    padding: 5px 2px 5px 0px ;
    margin-bottom: 10px;
}

.password{
    margin-bottom: 15px;
}

.checkbox{
    font-size: 14px;
    letter-spacing: 0;
    cursor: pointer;
}

.container-form__checkbox{
    appearance: none;
    -webkit-appearance: none;
    background-color: #d5d5d5;
    height: 15px;
    width: 15px;
    float: left;
    border-radius: 2px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form__checkbox:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 10px;
    color: #ffffff;
    content: "\f00c";
    display: none;
}

.container-form__checkbox:hover{
    background-color: #a5a5a5;
}

.container-form__checkbox:checked{
    background-color: #5a5858;
}

.container-form__checkbox:checked:after{
    display: block;
}

.btn{
    color:#ffffff;
    float: right;
    width: 50%;
    border-width: 2px;
}

p{
    color: #aaa;
    margin-bottom: 0;
}